:root {
  --brand-color: #4d5ae5;
  --text-color: #434455;
  --title-color: #2e2f42;
  --light: #f4f4fd;
  --border: #e7e9fc;
}

/* Базові скидання */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui, -apple-system, Arial, sans-serif;
  color: var(--text-color);
  background: #fff;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid var(--border);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-right: 76px;
}

.logo-span {
  color: var(--title-color);
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.site-address {
  font-style: normal;
}

.address-list {
  display: flex;
}

.address-list li:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: .02em;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  background-color: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .04em;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px)/4);
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: .02em;
  color: var(--title-color);
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: var(--text-color);
}

.team-section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: .02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px)/4);
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: .02em;
  color: var(--title-color);
}

.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: var(--text-color);
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px)/3);
  background: #fff;
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: .02em;
  color: var(--title-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: var(--text-color);
}

.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  letter-spacing: .02em;
}